@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #ffffff;
  margin: 0;
  background-image: url("../../assets/img/synthwave-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-shadow: #000000 1.5px 1.5px;
}

body p {
  font-family: "VT323", sans-serif;
  font-size: 2rem;
}

.main-content {
  display: flex;
  margin: auto;
  min-height: 77vh;  
  align-items: center;
}

.intro-container {
  margin: 0;
}

.intro-text {
    padding-bottom: 25px;
    padding-right: 5px;
    padding-left: 5px;
  background-image: linear-gradient(
    rgba(133, 25, 234, 0.9),
    rgba(241, 23, 241, 0.9)
  );
  margin: 1rem;
  text-align: center;
  border-radius: 1px;
  border: 3px solid rgb(0, 255, 102);
}

.intro-text h2 {
  margin-top: 1rem;
}

/* About Modal */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content/Box */
.modal-content {
  -webkit-animation: modal-content 25s linear infinite alternate both;
  animation: modal-content 25s linear infinite alternate both;
  margin: 10% auto;
  padding: 20px;
  border: 3px solid rgb(0, 255, 102);
  width: 80%;
  overflow-wrap: normal;
  white-space: normal;
}

@-webkit-keyframes modal-content {
  0% {
    background: #8519ea;
  }
  100% {
    background: #f117f1;
  }
}
@keyframes modal-content {
  0% {
    background: #8519ea;
  }
  100% {
    background: #f117f1;
  }
}

.modal-title {
  font-size: 0.8em;
}

.modal-content p {
  font-size: 1.3em;
  overflow-wrap: break-word;
}

.modal-content a {
  color: rgb(0, 255, 102);
  text-decoration: none;
  background-color: transparent;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* buttons */

.btn {
    background-color: rgb(255, 251, 0);
  border: 3px solid rgb(202, 173, 6);
  border-radius: 1px;
  color: black;
  text-shadow: none;
}

.general-button {
  margin: 0 15px;
}

.game-button {
    font-size: 0.75em;
  margin: 0 30px 0 30px;
}

.overlay-button {
  margin: 15px 0 30px 0;
  font-size: 2rem;
  max-width: 90vw;
  font-family: "Press Start 2P", sans-serif; 
}

.music-button {
  margin: 15px 0 30px 0;
}

a:not([href]) {
  color: #000000;
  text-decoration: none;
}

.general-button:hover,
#music-button-game:hover,
#reset-button:hover {
  border-radius: 1px;
  border: 3px solid rgb(8, 163, 21);
  background-color: rgb(0, 255, 102); 
  transition: all 0.3s ease-in-out;
}

/* Game */

.gamebox {
  display: block;
  width: 98vw;
  margin: auto;
}

.game-info-container {
  display: flex;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content: center;
}

.card-rows-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  justify-content: center;
  margin: 5px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}

.card-row {
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

.card {
  /* background-color: rgba(0, 0, 0, 0.01); */
  height: 175px;
  width: 150px;
  margin: 5px;
  position: relative;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  background-color: rgba(0, 0, 0, 0.01);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card-back,
.card-front {
    border-radius: 3px;
  position: absolute;
  width: 99.9%;
  height: 99.9%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-front {
  background-color: rgba(0, 0, 0, 0.01);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card-back {
  -webkit-animation: modal-content 2s linear infinite alternate both;
  animation: modal-content 2s linear infinite alternate both;
}

@-webkit-keyframes card-back {
  0% {
    background: #8519ea;
  }
  100% {
    background: #f117f1;
  }
}
@keyframes card-back {
  0% {
    background: #8519ea;
  }
  100% {
    background: #f117f1;
  }
}

.card-back:hover {
  border: 5px solid rgb(0, 255, 102);
  transition: all 0.1s ease-in-out;
}

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay.visible {
  display: flex;
}

.game-over-star-container {
   padding: 10px;
  min-height: 80%;
    min-width: 70%;
    max-width: 80%;
  background-image: url("../../assets/img/pixelaesthetics.gif");
  background-repeat: repeat;
  text-align: center;
  border-radius: 1px;
  border: 1px solid rgb(0, 255, 102);
}

.game-over-star-container p {
    font-size: 2.5em;
    margin-top: 15px;
}

#star-rating-text {
    color: rgb(0, 255, 102);
  white-space: nowrap;
  overflow: hidden; 
  margin: 0 auto;
    font-size: 2.5em;
    margin-top: 15px;
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 500px;}
}

/* cursor animations */



.star {
    display:inline-block;
    height: 5em;
}

/* Footer */

footer {
  width: 100%;
  color: #fff;
  bottom: 0;
  text-align: center;
}

footer a {
  color: inherit;
  font-family: "VT323", sans-serif;
  font-size: 2rem;
}

footer a:hover {
  text-decoration: none;
  color: rgb(0, 255, 102);
  transition: 0.6s;
}

/* media queries */

@media only screen and (max-width: 662px) {
  .card {
    height: 100px;
    width: 75px;
  }
  body p {
    font-size: 1.4em;
  }
}
