@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    margin: 0;
    min-height: 60vh;
    background-image: url("../../assets/img/synthwave-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.intro-text {
    background-color: pink;
    margin: 4rem;
    text-align: center;
    border-radius: 1px;
    border: 3px solid lime;
}

/* About Modal */

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: green;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid rgb(176, 59, 59);
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 